@model login.Models.Client

@{
    ViewBag.Title = "ClientDetails";
}

<h2>ClientDetails</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>



    </dl>
</div>
<p>
    <button class=" btn bg-success">
        @Html.ActionLink("Edit", "ClientEdit", new { id = Model.Cid })
    </button>

    <button class=" btn bg-success">
        @Html.ActionLink("Back ", "ClientView", "Default")
    </button>

    <button class=" btn bg-success">
        @Html.ActionLink("Delete", "ClientDelete","Client")
    </button>

</p>
