@model login.Models.Client

@{
    ViewBag.Title = "ClientDelete";
}

<h2>ClientDelete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

      
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        

    </dl>

 
      
        <div>
            @*<input type="submit" value="Delete" class="btn btn-default" />*@ 
            <button class="btn btn-default">  @Html.ActionLink("Delete", "ClientDeletePermanants",new {Email=Model.Email })</button>
     
        </div>
    
</div>
