@model login.Models.Client

@{
    ViewBag.Title = "ClientDetails";
}


<div class="row " style="justify-content:space-around">
    <div class="col-10">
    <h2>ClientDetails</h2></div>
    <div class="col-md-offset-12 " style="justify-content:flex-end">
        <button class="b btn btn-info " style="border-radius:10%;height:40px;width:90px  "> @Html.ActionLink("Logout", "Logout", "Logout")</button>

    </div>
</div>
<div>

    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>



    </dl>
</div>
<p>
    <button class=" btn bg-success">
        @Html.ActionLink("Edit", "ClientEdit", new { id = Model.Cid })
    </button>

    <button class=" btn bg-success">
        @Html.ActionLink("Back ", "ClientView", "Default")
    </button>

    <button class=" btn bg-success">
        @Html.ActionLink("Delete", "ClientDelete", "Client")
    </button>

</p>
