
@{
    ViewBag.Title = "AdminView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br >
<br>
<div class="container-fluid mt-10">
  
    <div class="row " style="display:flex;justify-content:space-around">
        <div class="col-10"></div>
        <div class="mt-3">
            <button class="col-11 btn btn-dark  btn-lg" style="border-radius: 10%;height:40px;width:120px"> @Html.ActionLink("Account Info", "AdminBankDetails")</button>
        </div>
        <div class="col-md-offset-12 " style="justify-content:flex-end">
            <button class="b btn btn-info " style="border-radius:10%;height:40px;width:90px  "> @Html.ActionLink("Logout", "Logout", "Logout")</button>

        </div>
    </div>

    <div class="col-8" style="margin: 50px auto; width : 340px">


        
        
            <div class="form-group" style="background-color:whitesmoke"> <h1 align="center">Admin </h1> </div>


            <div class="form-group">
                <button class="btn btn-default  btn-block btn-lg " style="color:black ">@Html.ActionLink("Client List", "ClientList", "Client")</button>
            </div>


            <div class="form-group">
                <button class="btn btn-default  btn-block btn-lg " style="color:black ">@Html.ActionLink("Gym List", "OwnerListForAdmin", "Owner")</button>
            </div>

            <div class="form-group">
                <button class="btn btn-default  btn-block btn-lg " style="color:black ">@Html.ActionLink("Client Payment List", "ClientPaymentList", "PaymentList")</button>
            </div>

            <div class="form-group">
                <button class="btn btn-default  btn-block btn-lg " style="color:black ">@Html.ActionLink("Owner Payment List", "OwnerPaymentList", "PaymentList")</button>
            </div>

            <div class="form-group">
                <button class="btn btn-default  btn-block btn-lg " style="color:black ">@Html.ActionLink("Booking History", "BookingHistory", "BookingList")</button>
            </div>




        

    </div>
</div>

</div>