@model IEnumerable<login.Models.Booking>

@{
    ViewBag.Title = "BookClientList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BookClientList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookingId)
        </th>

        <th>
            <b>Member Name</b>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Status)
                <button class="btn btn-default">@Html.ActionLink("Confirm", "CheckedIn", new { bid = item.BookingId })</button>


        </tr>
    }

</table>

<div>
    <button class=" btn bg-success"> @Html.ActionLink("Back", "OwnerView", "BookingList") </button>

</div>
