@model IEnumerable<login.Models.Booking>

@{
    ViewBag.Title = "BookClientList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Todays List</h2>

<div class="row " style="justify-content:space-around">
    <div class="col-10"></div>
    <div class="mt-3">
        <div class="mt-3">
            <button class="b btn-dark btn-dark btn "> @Html.ActionLink("Profile", "OwnerDetails", "Owner")</button>
        </div>
    </div>

    <div class="col-md-offset-12 " style="justify-content:flex-end">
        <button class="b btn btn-info " style="border-radius:10%;height:40px;width:90px  "> @Html.ActionLink("Logout", "Logout", "Logout")</button>

    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookingId)
        </th>

        <th>
            <b>Member Name</b>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Status)
                <button class="btn btn-default">@Html.ActionLink("Confirm", "CheckedIn", new { bid = item.BookingId })</button>


        </tr>
    }

</table>


