@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>BookPlan</title>

        <link rel="stylesheet" href="3.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



    </head>
    <body>
        <style>
            body, html {
                background: url("../../NewFolder1/login2.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
            }

            .bg {
                /* The image used */
                height: 100%;
                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .f {
                color: white;
            }
        </style>

        <style>
            .area {
                height: 100%;
                width: 100%;
            }

            .make-center {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .beautify {
                background: tomato;
                color: white;
                font-size: 100px;
                font-weight: bold;
            }

            .beauti {
                background: grey;
                color: white;
                font-size: 100px;
                font-weight: bold;
            }
        </style>



        <div class="container-fluid bg-light">

            <div class="row sticky top">

                <div class="col-12 h1 bg-danger text-light " style="height: 100px;display :grid;align-content:center;justify-content:center">
                    Packages
                </div>

            </div>

            <div class="row">
                <div class="col-11"></div>
                <div class="mt-3">
                    <button class="b btn-dark  btn-lg" style="justify-content:center;border-radius: 85%;height:50px;width:90px"> @Html.ActionLink("Logout", "ClientDetails", "Client")</button>
                </div>
            </div>
            <div class="row mt-1" *ngFor="let item of list">
                <div class="col-3 d-none col-3 d-md-block"></div>
                <div class="col-12 col-md-6 bg-info d-flex align-items-center justify-content-between" style="height: 100px">
                    <div>
                        <div class="h4 text-light"> Three Months Package</div>

                        <div class="h5 text-light">
                            Purchase the fitNfab Quarterly pass and get unlimited access to every fitNfab partner facility for 3 months!

                            ₹5000/-
                        </div>
                    </div>

                    <button class="btn btn-danger">@Html.ActionLink("Buy", "QuaterlyPayment", "ClientPayment")</button>
                </div>
                <div class="col-3 d-none col-3 d-md-block"></div>
            </div>

            <div class="row mt-1" *ngFor="let item of list">
                <div class="col-3 d-none col-3 d-md-block"></div>
                <div class="col-12 col-md-6 bg-info d-flex align-items-center justify-content-between" style="height: 100px">
                    <div>
                        <div class="h4 text-light">Monthly Package</div>

                        <div class="h5 text-light">
                            Purchase the fitNfab Monthly pass and get unlimited access to every fitNfab partner facility for 2 months!

                            ₹2000/-
                        </div>
                    </div>


                    <button class="btn btn-danger">@Html.ActionLink("Buy", "MonthlyPayment", "ClientPayment")</button>
                </div>
                <div class="col-3 d-none col-3 d-md-block"></div>
            </div>



            <div class="row mt-1" *ngFor="let item of list">
                <div class="col-3 d-none col-3 d-md-block"></div>
                <div class="col-12 col-md-6 bg-info d-flex align-items-center justify-content-between" style="height: 100px">
                    <div>
                        <div class="h4 text-light">Weekly Package</div>

                        <div class="h5 text-light">
                            Purchase the fitNfab Monthly pass and get unlimited access to every fitNfab partner facility for 2 months!

                            ₹700/-
                        </div>
                    </div>

                    <button class="btn btn-danger">@Html.ActionLink("Buy", "WeeklyPayment", "ClientPayment")</button>
                </div>
                <div class="col-3 d-none col-3 d-md-block"></div>
            </div>


            <div class="row mt-1" *ngFor="let item of list">
                <div class="col-3 d-none col-3 d-md-block"></div>
                <div class="col-12 col-md-6  d-flex align-items-center " style="height: 100px;">

                    @Html.ActionLink("Back", "ClientView", "Default")
                </div>
                <div class="col-3 d-none col-3 d-md-block"></div>
            </div>



        </div>






    </body>
</html>
    



