@model IEnumerable<login.Models.ClientPayment>

@{
    ViewBag.Title = "ClientPaymentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ClientPaymentList</h2>

<button class="btn btn-danger">@Html.ActionLink("Back","AdminView","Default")</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransactionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ammount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ammount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        
    </tr>
}

</table>
