@model login.Models.Owner

@{
    ViewBag.Title = "OwnerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OwnerDetails</h2>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function ()
        {
                document.getElementById("x").innerHTML = '@ViewBag.Message';
        };
    </script>
}

<div>
    <h4>Owner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            <b>Location</b>
        </dt>

        <dd>
            @Html.ActionLink("locate", "Location", "Owner", new { obj = Model.Latitude })
        </dd>



    </dl>
</div>
<p>


    <button class=" btn bg-success">
        @Html.ActionLink("Back", "BookClientList", "Default")
    </button>

    <button class=" btn bg-success">
        @Html.ActionLink("Edit", "OwnerEdit", "Owner")
    </button>


    <button class=" btn bg-success">
        @Html.ActionLink("Add Account", "AddAccount", "OwnerAccountDetails")
    </button>


    <button class=" btn bg-success">
        @Html.ActionLink("Account Details", "AccountDetails", "OwnerAccountDetails")
    </button>

</p>
<p id="x"></p>